<div class="page-header">
  <div class="row">
    <h1 class="col-lg-4">Help</h1>    
  </div>    
</div>
<ul class="nav nav-pills nav-justified" >
  <li><a href="#customer" data-toggle="pill">Customer</a></li>
  <li><a href="#appt" data-toggle="pill">Appointment</a></li>
  <li><a href="#order" data-toggle="pill">Order</a></li>
  <li><a href="#garment" data-toggle="pill">Garment</a></li>
  <li><a href="#expenses" data-toggle="pill">Expenses</a></li>
</ul>
<div class="tab-content">
	<br>
	<div class="tab-pane" id="customer">
		<%= render 'customer'%>
	</div>	
	<div class="tab-pane" id="appt">
		<%= render 'appointment'%>			
	</div>	
	<div class="tab-pane" id="order">
		<%= render 'order'%>				
	</div>	
	<div class="tab-pane" id="garment">
		<%= render 'garment'%>				
	</div>	
	<div class="tab-pane" id="expenses"><div class="table-responsive">				
		<%= render 'expense'%>		
	</div>	
</div>
