<div class="page-header">
	<h1>Quote</h1>
</div>
<script type="text/javascript">
	$(function() {
    $( "#accordion" ).accordion();
  });
</script>

<div class="row well">
	<div class="col-lg-12">
	<h4>Order Details</h4>
	<hr>
		<div class="row">
			<div class="col-sm-2">
				<p><b>Customer Name: </b></p>
			</div>
		<%=@customer.first_name + " " + @customer.last_name%>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<p><b>Order Description: </b></p>
			</div>
		<%=@order.order_description%>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<p><b>Due Date:</b></p>
			</div>
		<%=@order.due_date%>
		</div>
		<hr>
		<!-- TODO: styling needs work, also figure out how to deal with keeping nils out of the equation-->

		<div id="accordion">
		<% @order.garments.each do |g|%>
		<%recent = g.costings.last%>
			<h3><%= g.garment_description%><span> R <%= recent.labour_cost + recent.fabric_cost + recent.acc_cost + recent.misc_cost%></span></h3>
			<div>			
				<p>Labour R<%=recent.labour_cost %><br>
				Fabric R<%=recent.fabric_cost %><br>
				Accessory R<%=recent.acc_cost %><br>
				Misc R<%=recent.misc_cost %></p>
			</div>
		<% end %>
		</div>	
	</div>		
</div>