<div class="page-header">
    <h1> Garment Details</h1>
</div>
<div id="notice" class="alert alert-success">
    <%= notice %>
</div>
<div class="col-md-12 well">
  <div class="col-md-3">    
    <p><strong>Description: </strong><%= @garment.garment_description%></p>
    <p><strong>Type: </strong><%= @garment.garment_type%> </p>
    <p><strong>Due Date: </strong><%= @garment.order.due_date%> </p>  
    <p><strong>Customer: </strong><%= @garment.order.customer.first_name + @garment.order.customer.last_name %></p>    
  </div>
</div>
<div class="col-lg-12">
<%= link_to 'Edit', edit_garment_path(@garment), :class => "btn btn-warning" %>
<%= link_to 'Back', garments_path, :class => "btn btn-link" %>
<hr>
</div>

<div class="col-lg-9 well bs-component">
  <div class="table-responsive">
    <table class="table table-bordered">
      <legend>Measurements</legend>           
        <tr>
            <th class="col-md-2"><strong>Bust</strong></th>
            <td><%=@garment.bust.to_s + ' cm'%></td>
            <th class="col-md-2"><strong>Under bust</strong></th>
            <td><%=@garment.under_bust.to_s + ' cm'%></td>
        </tr>
        <tr>
            <th class="col-md-2"><strong>Waist</strong></th>
            <td><%=@garment.waist.to_s + ' cm'%></td>
            <th><strong>Hip upper</strong></th>
            <td><%=@garment.hip_upper.to_s + ' cm'%></td>
        </tr>
        <tr>
            <th class="col-md-2"><strong>Hip lower</strong></th>
            <td><%=@garment.hip_lower.to_s + ' cm'%></td>
            <th class="col-md-2"><strong>Bust point</strong></th>
            <td><%=@garment.bust_point.to_s + ' cm'%></td>
        </tr>
        <tr>
            <th class="col-md-2"><strong>Front length</strong></th>
            <td><%=@garment.front_length.to_s + ' cm'%></td>
            <th class="col-md-2"><strong>Shoulder - Under bust</strong></th>
            <td><%=@garment.shoulder_to_under_bust.to_s + ' cm'%></td>
        </tr>
        <tr>
            <th class="col-md-2"><strong>Back length</strong></th>
            <td><%=@garment.back_length.to_s + ' cm'%></td>
            <th class="col-md-2"><strong>Across back</strong></th>
            <td><%=@garment.across_back.to_s + ' cm'%></td>
        </tr>
        <tr>
            <th class="col-md-2"><strong>Shoulder length</strong></th>
            <td><%=@garment.shoulderlength.to_s + ' cm'%></td>
            <th class="col-md-2"><strong>Skirt length</strong></th>
            <td><%=@garment.skirt_length.to_s + ' cm'%></td>
        </tr>
        <tr>
            <th class="col-md-2"><strong>Sleeve length</strong></th>
            <td><%=@garment.sleeve_length.to_s + ' cm'%></td>
            <th class="col-md-2"><strong> Sleeve width upper</strong></th>
            <td><%=@garment.sleeve_width_upper.to_s + ' cm'%></td>
        </tr>
        <tr>
            <th class="col-md-2"><strong>Sleeve width elbow</strong></th>
            <td><%=@garment.sleeve_width_elbow.to_s + ' cm'%></td>
            <th class="col-md-2"><strong>Sleeve width wrist</strong></th>
            <td><%=@garment.sleeve_width_wrist.to_s + ' cm'%></td>
        </tr>
        <tr>
            <th class="col-md-2"><strong>Pants length</strong></th>
            <td><%=@garment.pants_length.to_s + ' cm'%></td>
            <th class="col-md-2"><strong>Jacket length</strong></th>
            <td><%=@garment.jacket_length.to_s + ' cm'%></td>
        </tr>
    </table>    
</div>
</div>