<p id="notice"><%= notice %></p>

<p>
  <strong>Garment type:</strong>
  <%= @garment.garment_type %>
</p>

<p>
  <strong>Garment description:</strong>
  <%= @garment.garment_description %>
</p>

<p>
  <strong>Order:</strong>
  <%= @garment.order %>
</p>

<p>
  <strong>Bust:</strong>
  <%= @garment.bust %>
</p>

<p>
  <strong>Under bust:</strong>
  <%= @garment.under_bust %>
</p>

<p>
  <strong>Waist:</strong>
  <%= @garment.waist %>
</p>

<p>
  <strong>Hip upper:</strong>
  <%= @garment.hip_upper %>
</p>

<p>
  <strong>Hip lower:</strong>
  <%= @garment.hip_lower %>
</p>

<p>
  <strong>Bust point:</strong>
  <%= @garment.bust_point %>
</p>

<p>
  <strong>Front length:</strong>
  <%= @garment.front_length %>
</p>

<p>
  <strong>Shoulder to under bust:</strong>
  <%= @garment.shoulder_to_under_bust %>
</p>

<p>
  <strong>Back length:</strong>
  <%= @garment.back_length %>
</p>

<p>
  <strong>Across back:</strong>
  <%= @garment.across_back %>
</p>

<p>
  <strong>Shoulderlength:</strong>
  <%= @garment.shoulderlength %>
</p>

<p>
  <strong>Skirt length:</strong>
  <%= @garment.skirt_length %>
</p>

<p>
  <strong>Sleeve length:</strong>
  <%= @garment.sleeve_length %>
</p>

<p>
  <strong>Sleeve width upper:</strong>
  <%= @garment.sleeve_width_upper %>
</p>

<p>
  <strong>Sleeve width elbow:</strong>
  <%= @garment.sleeve_width_elbow %>
</p>

<p>
  <strong>Sleeve width wrist:</strong>
  <%= @garment.sleeve_width_wrist %>
</p>

<p>
  <strong>Pants length:</strong>
  <%= @garment.pants_length %>
</p>

<p>
  <strong>Jacket length:</strong>
  <%= @garment.jacket_length %>
</p>

<%= link_to 'Edit', edit_garment_path(@garment) %> |
<%= link_to 'Back', garments_path %>
