<div class="page-header">
	<h2>Invoice</h2>
</div>
<script type="text/javascript">
	$(function() {
    $( "#accordion" ).accordion();
  });
</script>

<div class="row well col-lg-10">
	<div class="col-lg-12">
	<h4>Order Details</h4>
	<hr>
		<div class="row">
			<div class="col-sm-3">
				<p><b>Customer Name: </b></p>
			</div>
		<%=@customer.first_name + " " + @customer.last_name%>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<p><b>Order Description: </b></p>
			</div>
		<%=@order.order_description%>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<p><b>Due Date:</b></p>
			</div>
		<%=@order.due_date.strftime("%A %d-%B-%Y")%>
		</div>
		<hr>
		<!-- TODO: styling needs tweaking, also add any official disclaimers, banking and contact details etc-->
<div class="panel-group" id="accordion">
		<%sub_totals =[]%>
		<% @order.garments.each do |g|%>
		<%recent = g.costings.last%>

		  <div class="panel">		  
		    <div class="panel-heading">
		      <h4 class="panel-title row">
		        <%=link_to "#" + g.garment_description.gsub(/\s+/, ""), {:data => {:toggle =>"collapse", :parent => "#accordion"}} do%>		        
					<%= g.garment_description%>
					<strong>
					 R 
					<%value=recent.labour_cost + recent.fabric_cost + recent.acc_cost + recent.misc_cost%>
					<%= sprintf("%.2f", value)%></strong>
					<%sub_totals.push(value)%>
				<%end%>					
		      </h4>
		    </div>
		    <div id="<%=g.garment_description.gsub(/\s+/, '')%>" class="panel-collapse collapse ">
		      <div class="panel-body">
		       		<span class = "col-sm-2 ">Labour</span> 
					<span class="col-sm-offset-6 value"><%value=recent.labour_cost%>
					R <%= sprintf("%.2f", value)%></span><br>
					<span class = "col-sm-2 ">Fabric</span> 
					<span class="col-sm-offset-6 value"><%value=recent.fabric_cost%>
					R <%= sprintf("%.2f", value)%></span><br>
					<span class = "col-sm-2 ">Accessories</span> 
					<span class="col-sm-offset-6 value"><%value=recent.acc_cost%>
					R <%= sprintf("%.2f", value)%></span><br>
					<span class = "col-sm-2 ">Misc</span>
					<span class="col-sm-offset-6 value">
					R <%value=recent.misc_cost%><%= sprintf("%.2f", value)%></span>
		      </div>
		    </div>   
		 </div>
		 
		 <%end%>		  

  		</div>

		<div class="row">
			<h4 class="col-sm-3 col-sm-offset-10 corres-total">
				<strong>Total: </strong>
				R<%=sprintf("%.2f",calculate_total)%>
			</h4>
		</div>		
		<hr>			
	</div>		
</div>