<h1 class="page-header">Welcome 
<span><h5><%=Time.now.strftime("%A %d-%B-%Y %H:%M")%></h5></span></h1>

<br/>

<div class="row">
	<div class="col-lg-5">
	<!--render partial here-->
		<%= render "reports/dailySchedule"%>
	</div>
	<div class="col-lg-6 col-lg-offset-1">
		<!--top/bottom 5 report goes here-->
		<%= render "reports/top5"%>
	</div>	
</div>
<div class="row">
	<div class="col-lg-5">
		<%= render "reports/weeklyDeadlines"%>
	</div>
	<div class="col-lg-6 col-lg-offset-1">
		<%= render "reports/bottom5"%>
	</div>
</div>
