<div class="page-header">
    <h1>Customers</h1>
</div>
<div id="notice">
    <%=notice%>
</div>
<div>
    <%= link_to 'New Customer', new_customer_path, :class => "btn btn-success" %>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th class="col-md-3">Contact Number</th>                
                <th class="col-md-2">Options</th>
            </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.first_name + ' '+ customer.last_name%></td>
              <td><%= customer.contact_no %></td>
              <td><%= customer.email %></td>
              <td>
                <p>
                  <%= link_to 'History', customer, :class => "btn btn-xs btn-primary" %>
                  <%= link_to 'Update', edit_customer_path(customer), :class => "btn btn-xs btn-warning" %>
                </p>
              </td>

            </tr>
          <% end %>
          
        </tbody>        
    </table>
</div>
<table>
<br>