<h2 class="page-header">Customer Details</h2>

<% if notice != nil %>
  <div class="alert alert-success" id="notice">
    <%= notice %>
  </div>
<%end%>

<div class="col-md-12 well">
	<div class="col-md-9">
		<p>
  			<strong>First name:</strong>
  			<%= @customer.first_name %>
		</p>
		<p>
		  <strong>Last name:</strong>
		  <%= @customer.last_name %>
		</p>

		<p>
		  <strong>Contact no:</strong>
		  <%= @customer.contact_no %>
		</p>

		<p>
		  <strong>Email:</strong>
		  <%= @customer.email %>
		</p>		
	</div>
	<div class = "col-md-2 col-md-offset-1">
      <%= link_to edit_customer_path(@customer), :class => "btn btn-xs corres-button btn-info" do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <span>Update</span>
      <%end%>
    </div>	
</div>

<h4 class="page-header">Order History</h4>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<th>Order Description</th>
			<th>Due Date</th>
			<th>Status</th>
			<th>Rating</th>
			<th></th>
		</thead>
		<tbody>
			<% @orders.each do |order| %>
				<%if order.closed%>
					<%if order.customer_value_index > 5%>
						<tr class="link-row success">
							<td><%=order.order_description%></td>
							<td><%=order.due_date %></td>
							<td><%=order.closed ? "Closed" : "Open"%></td>
							<td><%= order.closed ? order.customer_value_index.to_s : "Pending" %></td>
							<td align="right" class="col-sm-2">
								<%= link_to order_path(order),:class => "btn btn-xs btn-primary" do %>
									<span class="glyphicon glyphicon-search"></span>
									<span class="show-tag">Show</span> 
								<%end%>
							</td>
						</tr>
					<%else%>
						<tr class="link-row danger">
							<td><%=order.order_description%></td>
							<td><%=order.due_date %></td>
							<td><%=order.closed ? "Closed" : "Open"%></td>
							<td><%= order.closed ? order.customer_value_index.to_s : "Pending" %></td>
							<td align="right" class="col-sm-2">
								<%= link_to order_path(order),:class => "btn btn-xs btn-primary" do %>
									<span class="glyphicon glyphicon-search"></span>
									<span class="show-tag">Show</span> 
								<%end%>
							</td>
						</tr>
					<%end%>
				<%else%>
					<tr class="link-row warning">
						<td><%=order.order_description%></td>
						<td><%=order.due_date %></td>
						<td><%=order.closed ? "Closed" : "Open"%></td>
						<td><%= order.closed ? order.customer_value_index.to_s : "Pending" %></td>
						<td align="right" class="col-sm-2">
							<%= link_to order_path(order),:class => "btn btn-xs btn-primary" do %>
								<span class="glyphicon glyphicon-search"></span>
								<span class="show-tag">Show</span> 
							<%end%>
						</td>
					</tr>
				<%end%>
			<% end %>
		</tbody>
	</table>
</div>
