<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @customer.contact_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<th>Order Description</th>
			<th>Due Date</th>
			<th>Status</th>
		</thead>
		<tbody>
			<% @orders.each do |order| %>
			<tr>
				<td><%=order.order_description%></td>
				<td><%=order.due_date %></td>
				<td><%= order.closed ? "Closed" : "Open"%></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
