<%= form_for @order, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @order.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  

  <div class="form-group">
    <%= f.label :customer_id, :class => "col-lg-4 control-label" %>
    <div class = "col-lg-8">
      <%= f.select :customer_id, Customer.all.collect {|c| [c.first_name + " " + c.last_name, c.id]},{}, {:class => "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :order_description, :class => "col-lg-4 control-label" %>
    <div class ="col-lg-8">
      <%= f.text_field :order_description, {:class =>"form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :due_date, :class => "col-lg-4 control-label" %>
    <div class = "col-lg-8">
      <div class="input-group date" id="dt1">
      <%= f.text_field :due_date, :class => "form-control" %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>  
        <script type="text/javascript">
            $(function () {
                $('#dt1').datetimepicker({
                  pickTime: false
                });
            });
        </script>        
      </div>
    </div>
  </div>
  <!--only orders that have already been created can be closed-->
  <%if @edit_order%>
  <div class="form-group">
    <%= f.label "Close Order", :class => "col-lg-4 control-label" %>
    <div class = "col-lg-8">
      <%= f.check_box :closed, :id =>"close-option"%>    
    </div>
  </div>
  <div class="form-group" id="close-order" style="display:none">
      <%= f.label :customer_value_index, :class => "col-lg-4 control-label" %>
        <div class="col-lg-6">
          <%= f.text_field :customer_value_index, id: "range-slider", type: "text", :class => "form-control",
                  data: {'slider-min' => '1',
                        'slider-max' => '10',
                        'slider-step' => '1',
                        'slider-value' => '5' }%>
        </div>
    </div>
  <%end%>
    <%if @new_order%>
    <%= f.hidden_field :closed, :value => false%>
  <%end%>
  
  <div class = "form-group">
    <div class = "col-lg-10 col-lg-offset-4">
      <%= f.submit 'Save', :class => "btn btn-primary"%>
      <% cancel_path = @new_order ? orders_path : order_path%>
      <%= link_to 'Cancel', cancel_path , :class => "btn btn-default" %>
    </div>
  </div>

  <script type = "text/javascript"> 
  $(function(){
    $('#close-option').click(function(){      
      $('#close-order').toggle('fast');
    });
  });
  </script>
  <script type = "text/javascript"> 
  jQuery(document).ready(function(){
    if(jQuery('#close-option').is(':checked'))
      jQuery('#close-order').show();
    else
      jQuery('#close-order').hide();
  });

  $('#range-slider').slider({
  formater: function(value) {
    return 'Current value: ' + value;
  }
});
  </script>
  <% end %>
