
<div class="page-header">
    <h1>Orders</h1>
</div>

<div id="notice" class="alert alert-success">
    <%=notice%>
</div>

<div>
    <%= link_to 'New Order', new_order_path, :class =>"btn btn-success" %>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Order Description</th>
                <th class="col-md-2">DueDate</th>
                <th class="col-md-2">Options</th>
            </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.customer %></td>
              <td><%= order.order_description %></td>
              <td><%= order.due_date %></td> 
              <td>
              <p>
                <%= link_to 'Show', order, :class => "btn btn-xs btn-primary" %>
                <%= link_to 'Edit', edit_order_path(order), :class => "btn btn-xs btn-warning" %>
                <%= link_to 'Close', order, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xs btn-danger" %>
              </p>
              </td>
            </tr>
          <% end %>          
        </tbody>        
    </table>
</div>


  