<div class="page-header">
  <div class="row">
    <h1 class="col-lg-4">View Order</h1>
    <%= link_to new_order_garment_path(@order) ,:class => "btn btn-success col-lg-1 col-lg-pull-1 new-button" do %>
    <span class="glyphicon glyphicon-plus"></span>
    <span>Garment</span>
    <%end%>
  </div>
</div>

<% if notice != nil %>
  <div class="alert alert-success" id="notice">
    <%= notice %>
  </div>
<%end%>

  <div class="col-md-12 well">
    <div class="col-md-9">
      <p>
        <strong>Description:</strong>
        <%= @order.order_description %>      
      </p>  
      <p>
        <strong>Due Date:</strong>
        <%= @order.due_date.strftime("%d-%B-%Y (%A)") %>
      </p>
      <p>
        <strong>Customer:</strong>
        <% person = Customer.find(@order.customer_id)%>
        <%= person.first_name + ' ' + person.last_name %>
      </p>
    </div> 
    <div class = "col-md-2 col-md-offset-1">
      <%= link_to edit_order_path(@order), :class => (@order.closed? ? "btn btn-xs corres-button btn-info disabled" : "btn btn-xs corres-button btn-info ") do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
      <%end%>
      <%= link_to order_quote_path(@order, "1"), :class => (check_for_costings(@order)  ? "btn btn-default corres-button btn-xs" : "btn btn-default corres-button btn-xs disabled" ), :target => "_blank" do%>
      <span class="glyphicon glyphicon-send"></span>
      <span>Generate Quote</span>
      <%end%>
      <%= link_to order_invoice_path(@order,"1"), :class => (check_for_costings(@order) ? "btn btn-default corres-button btn-xs" : "btn btn-default corres-button btn-xs disabled" ), :target => "_blank" do %>
      <span class="glyphicon glyphicon-send"></span>
      <span>Generate Invoice</span>
      <%end%>
    </div>
  </div>
  <!--<div class="row">   
  <div class = "col-md-12">  
    <%= link_to "Generate Quote", order_quote_path(@order, "1"), :class => "btn btn-default", :target => "_blank"%>
    <%= link_to "Generate Invoice", order_invoice_path(@order,"1"), :class => "btn btn-default", :target => "_blank"%>
  </div>
</div>-->

<div class="table-repsonsive">
  <table class ="table table-striped">
    <thead>
      <tr>
        <th class ="col-md-6">Garment Description</th>
        <th class="col-md-2">Type</th>
        <th class="col-md-4 options">Options</th>
      </tr>
    </thead>
    <tbody>
    <%breakdown = @order.garments%>
    <% breakdown.each do |garment|%>

      <tr class="link-row" style="height:49px;" >
        <td><%= garment.garment_description%></td>
        <td><%= garment.garment_type%></td>
        <td align="right">
          <p>
            <%= link_to garment, :class => "btn btn-xs btn-primary" do%>
            <span class="glyphicon glyphicon-list"></span>
            <span class="show-tag">Measurements</span>
            <%end%>
            <%= link_to new_garment_costing_path(garment), :class => (@order.closed? ? "btn btn-xs btn-success disabled" : "btn btn-xs btn-success") do%>
            <span class="glyphicon glyphicon-usd"></span>
            <span class="show-tag">Costing</span>
            <%end%>
            <%= link_to edit_garment_path(garment), :class => (@order.closed? ? "btn btn-xs btn-info disabled" : "btn btn-xs btn-info") do%>
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="show-tag">Edit</span>
            <%end%>
            <%= link_to garment, method: :delete, data: {confirm: 'Are you sure?'}, :class => (@order.closed? ? "btn btn-xs btn-danger disabled" : "btn btn-xs btn-danger") do%>
            <span class="glyphicon glyphicon-trash"></span>
            <span class="show-tag">Delete</span>
            <%end%>
          </p>
        </td>
      </tr>
      <%end%>
    </tbody>
  </table>  
</div>





