<div class="page-header">
  <h1>View Order</h1>
</div>

<div class="alert alert-success"><%= notice %></div>
  <div class="col-md-12 well">
    <p>
      <strong>Description:</strong>
      <%= @order.order_description %>
    </p>

    <p>
      <strong>Due Date:</strong>
      <%= @order.due_date %>
    </p>

    <p>
      <strong>Customer:</strong>
      <% person = Customer.find(@order.customer_id)%>
      <%= person.first_name + ' ' + person.last_name %>
    </p>
  </div>
<div class = "col-lg-12">
  <%= link_to "Add Garment", new_order_garment_path(@order) ,:class => "btn btn-success" %>
  <%= link_to "Generate Quote", order_path, :class => "btn btn-default"%>
  <%= link_to "Generate Invoice", order_path, :class => "btn btn-default"%>
  <%= link_to 'Edit', edit_order_path(@order), :class => "btn btn-link"%>
  <%= link_to 'Back', orders_path, :class => "btn btn-link" %>
</div>

<div class="table-repsonsive">
  <table class ="table table-striped">
    <thead>
      <tr>
        <th class ="col-md-6">Garment Description</th>
        <th class="col-md-2" >Type</th>
        <th class="col-md-4" >Options</th>
      </tr>
    </thead>
    <tbody>
    <%breakdown = @order.garments%>
    <% breakdown.each do |garment|%>

      <tr>
        <td><%= garment.garment_description%></td>
        <td><%= garment.garment_type%></td>
        <td>
          <%= link_to "Measurements", garment, :class => "btn btn-sm btn-primary"%>
          <%= link_to "Costing", order_path, :class => "btn btn-sm btn-success"%>
          <%= link_to "Edit", edit_garment_path(garment), :class => "btn btn-sm btn-warning"%>
          <%= link_to "Delete", garment, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-sm btn-danger"%>
        </td>
      </tr>
      <%end%>
    </tbody>
  </table>  
</div>





