<%= form_for [:garment, @costing], :html => {:class => 'form-horizontal'}  do |f| %>

  <% if @costing.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@costing.errors.count, "error") %> prohibited this costing from being saved:</h2>

      <ul>
      <% @costing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :garment_id, :value => params[:garment_id]%>
  <%p = @previous%>
    
  <div class="form-group">
    <%= f.label :labour_cost, :class => "col-lg-3 control-label" %>
    <div class = "col-lg-9 input-group">
    <span class="input-group-addon">R</span>
      <%= f.text_field :labour_cost, :class =>"form-control", :value => (@previous.nil? ? 0 : @previous.labour_cost ), :autofocus => true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fabric_cost, :class => "col-lg-3 control-label" %>
    <div class = "col-lg-9 input-group">
    <span class="input-group-addon">R</span>
      <%= f.text_field :fabric_cost, :class =>"form-control", :value => (@previous.nil? ? 0 : @previous.fabric_cost ) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :acc_cost, :class => "col-lg-3 control-label" %>
    <div class = "col-lg-9 input-group">
    <span class="input-group-addon">R</span>
      <%= f.text_field :acc_cost, :class =>"form-control", :value => (@previous.nil? ? 0 : @previous.acc_cost ) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :misc_cost, :class => "col-lg-3 control-label" %>
    <div class = "col-lg-9 input-group">
    <span class="input-group-addon">R</span>
      <%= f.text_field :misc_cost, :class =>"form-control", :value => (@previous.nil? ? 0 : @previous.misc_cost ) %>
    </div>
  </div>  
  <div class="form-group">
    <div class = "col-lg-10 col-lg-offset-3">
      <%= f.submit 'Save', :class => "btn btn-primary"%>
      <%= link_to 'Cancel', order_path(@garment.order_id), :class => "btn btn-default" %>
    </div>
  </div>
<% end %>