<h1>Listing costings</h1>

<table>
  <thead>
    <tr>
      <th>Cost date</th>
      <th>Cost status</th>
      <th>Labour cost</th>
      <th>Fabric cost</th>
      <th>Acc cost</th>
      <th>Misc cost</th>
      <th>Garment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @costings.each do |costing| %>
      <tr>
        <td><%= costing.cost_date %></td>
        <td><%= costing.cost_status %></td>
        <td><%= costing.labour_cost %></td>
        <td><%= costing.fabric_cost %></td>
        <td><%= costing.acc_cost %></td>
        <td><%= costing.misc_cost %></td>
        <td><%= costing.garment %></td>
        <td><%= link_to 'Show', costing %></td>
        <td><%= link_to 'Edit', edit_costing_path(costing) %></td>
        <td><%= link_to 'Destroy', costing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Costing', new_costing_path %>
