<%= form_for @appointment, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @appointment.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :customer_id, :class =>"col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.select :customer_id, Customer.all.collect {|c| [c.first_name + " " + c.last_name, c.id]},{}, {:class => "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date, :class =>"col-lg-3 control-label" %>
    <div class="col-lg-9">
      <div class="input-group date" id="dt1">
        <%= f.text_field :date, {:class => "form-control", data: { :date_format => "YYYY/MM/DD"}} %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>  
        <script type="text/javascript">
            $(function () {
                $('#dt1').datetimepicker({
                  pickTime: false,
                });
            });
        </script>    
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :time, :class =>"col-lg-3 control-label" %>
    <div class="col-lg-9">
      <div class="input-group date" id="dt2">
        <%= f.text_field :time, :class => "form-control"%>
        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span> 
        <script type="text/javascript">
            $(function () {
                $('#dt2').datetimepicker({
                  pickDate: false
                });
            });
        </script>     
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :comments, :class =>"col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_area :comments, :class=> "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :follow_up, :class =>"col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.check_box :follow_up%>
    </div>
  </div>
  
  <div class="form-group">
    <div class = "col-lg-10 col-lg-offset-3">      
      <%= f.submit 'Save', :class => "btn btn-primary"%>
      <%= link_to 'Cancel', appointments_path, :class => "btn btn-default" %>
    </div>
  </div>
<% end %>
