<%= form_for @appointment, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :customer_id, :class =>"col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_field :customer_id %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date, :class =>"col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.date_select :date %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :time, :class =>"col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.time_select :time %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :comments, :class =>"col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_field :comments %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :follow_up, :class =>"col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.check_box :follow_up %>
    </div>
  </div>
  
  <div class="form-group">
    <div class = "col-lg-10 col-lg-offset-3">      
      <%= f.submit 'Save', :class => "btn btn-primary"%>
      <%= link_to 'Cancel', appointments_path, :class => "btn btn-default" %>
    </div>
  </div>
<% end %>
