<div class="page-header">
    <h1>Appointments</h1>
    <h5><b>Today: </b><%=Time.now.strftime("%A %d %b %Y")%></h5>
</div>
<% if notice != nil %>
<div id= "notice" class="alert alert-success">
    <%= notice%>
</div>
<%end%>
<div>
    <%= link_to 'New Appointment', new_appointment_path, :class => "btn btn-success" %>
</div>
<br>
<div class="table-responsive">
    <table class="table table-striped ">
        <thead>
            <tr>
                <th class="col-md-2">Date</th>
                <th class="col-md-1">Time</th>
                <th>Customer</th>
                <th>Description</th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
        <tbody>
            <% @appointments.each do |appointment| %>
            <% person = Customer.find(appointment.customer_id)%>
              <tr class="link-row">
                <td><%= appointment.date.strftime("%d-%b-%Y (%A)") %></td>
                <td><%= appointment.time.to_formatted_s(:time) %></td>

                <td><%= person.first_name + " "+ person.last_name %></td>
                <td><%= appointment.comments %></td>
                <td>
                    <p class="show-tag">

                        <%= link_to 'Edit', edit_appointment_path(appointment), :class => "btn btn-xs btn-warning" %>
                        <%= link_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xs btn-danger" %>
                    </p>
                </td>
              </tr>
            <% end %>            
        </tbody>
    </table>
    <br>
</div>


