<div class="page-header">
    <div class="row">
    <h1 class="col-lg-4">Appointments</h1>
    <%= link_to new_appointment_path, :class => "btn btn-success col-lg-1 col-lg-pull-1  new-button" do %>
    <span class="glyphicon glyphicon-plus"></span>
    New
    <%end%>
    <h5 class="col-lg-12"><b>Today: </b><%=Time.now.strftime("%A %d %b %Y")%></h5>      
</div>
</div>
<% if notice != nil %>
<div id= "notice" class="alert alert-success">
    <%= notice%>
</div>
<%end%>
<br>
<div class="table-responsive">
    <table class="table table-striped ">
        <thead>
            <tr>
                <th class="col-md-2">Date</th>
                <th class="col-md-1">Time</th>
                <th>Customer</th>
                <th>Description</th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
        <tbody>
            <% @appointments.each do |appointment| %>
            <% person = Customer.find(appointment.customer_id)%>
              <tr class="link-row" style="height:49px;">
                <td><%= appointment.date.strftime("%d-%b-%Y (%A)") %></td>
                <td><%= appointment.time.to_formatted_s(:time) %></td>

                <td><%= person.first_name + " "+ person.last_name %></td>
                <td><%= appointment.comments %></td>
                <td>
                    <p class="show-tag">

                        <%= link_to edit_appointment_path(appointment), :class => "btn btn-xs btn-warning" do %>
                        <span class="glyphicon glyphicon-pencil"></span>
                        Edit
                        <%end%>
                        <%= link_to appointment, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xs btn-danger" do %>
                        <span class = "glyphicon glyphicon-trash"></span>
                        Delete
                        <%end%>
                    </p>
                </td>
              </tr>
            <% end %>            
        </tbody>
    </table>
    <br>
</div>


