<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @appointment.time %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @appointment.comments %>
</p>

<p>
  <strong>Follow up:</strong>
  <%= @appointment.follow_up %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @appointment.customer %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
