<div class="page-header">
  <div class="row">
      <h1 class="col-lg-4">Expenses</h1>
      <%= link_to new_expense_path, :class => "btn btn-success new-button col-lg-1 col-lg-pull-1" do %>
    <span class="glyphicon glyphicon-plus"></span>
    New
    <%end%>
  </div>    
</div>

<% if notice != nil %>
<div id="notice" class="alert alert-success">
    <%= notice%>
</div>
<% end %>

<!--This is where I want to insert an amChart displaying the totals for each type and possibly the comparison to income tracker-->
<%= render "/reports/expenses"%>

<!--<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Period End</th>
                <th>Habby</th>
                <th>Bank Charges</th>
                <th>Equipment</th>
                <th>Stationery</th>
                <th>Computers</th>
                <th>Telephones</th>
                <th>Misc</th>
            </tr>
        </thead>
        <tbody>
          <% @expenses.each do |e| %>
            <tr>
              <td><%= e.period_end_date %></td>
              <td><%= e.habby %></td>
              <td><%= e.bank_charge %></td>
              <td><%= e.equipment %></td>
              <td><%= e.stationery %></td>
              <td><%= e.computer %></td>
              <td><%= e.telephone %></td>
              <td><%= e.misc_expense %></td>              
            </tr>
          <% end %>
        </tbody>
        <tbody>
          <% @expense.each do |e|%>
          <tr>
            <td><%=e.period_end_date%></td>
            <td><%=e.habby%></td>
            <td><%=e.bank%></td>
            <td><%=e.equip%></td>
            <td><%=e.stat%></td>
            <td><%=e.comp%></td>
            <td><%=e.tel%></td>
            <td><%=e.misc%></td>
          </tr>
          <% end %>
        </tbody>       
    </table>    
    <br>
</div>-->
