<div class="page-header">
    <h1>Expenses</h1>
</div>

<% if notice != nil %>
<div id="notice" class="alert alert-success">
    <%= notice%>
</div>
<% end %>

<div>
    <%= link_to 'New Expense', new_expense_path, :class => "btn btn-success" %>
</div>


<!--This is where I want to insert an amChart displaying the totals for each type and possibly the comparison to income tracker-->

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Period End</th>
                <th>Habby</th>
                <th>Bank Charges</th>
                <th>Equipment</th>
                <th>Stationery</th>
                <th>Computers</th>
                <th>Telephones</th>
                <th>Misc</th>
            </tr>
        </thead>
        <!--<tbody>
          <% @expenses.each do |expense| %>
            <tr>
              <td><%= expense.period_end_date %></td>
              <td><%= expense.habby %></td>
              <td><%= expense.bank_charge %></td>
              <td><%= expense.equipment %></td>
              <td><%= expense.stationery %></td>
              <td><%= expense.computer %></td>
              <td><%= expense.telephone %></td>
              <td><%= expense.misc_expense %></td>              
            </tr>
          <% end %>
        </tbody> -->
        <tbody>
          <% @expense.each do |e|%>
          <tr>
            <td><%=e.period_end_date.strftime("%b-%Y")%></td>
            <td><%=e.HAB%></td>
            <td><%=e.BC%></td>
            <td><%=e.EQ%></td>
            <td><%=e.ST%></td>
            <td><%=e.COMP%></td>
            <td><%=e.TEL%></td>
            <td><%=e.MISC%></td>
          </tr>
          <% end %>
        </tbody>       
    </table>    
    <br>
</div>