<h1 class="page-header">Reports Index</h1>

<ul>
	<li><%= link_to reports_dailySchedule_path do%>Daily Schedule<%end%></li>
	<li><%= link_to reports_weeklyDeadline_path do%>Weekly Deadlines<%end%></li>
	<li><%= link_to reports_customerRanking_path do%>Customer Ranking<%end%></li>
	<li><%= link_to reports_expense_path, "data-no-turbolink" => true do%>Expenses<%end%></li>
	<li><%= link_to reports_busySeason_path, "data-no-turbolink" => true do%>Busy Season<%end%></li>
	<li><%= link_to reports_garmentPopularity_path, "data-no-turbolink" => true do%>Product Popularity<%end%></li>
	<li><%= link_to reports_potential_path, "data-no-turbolink" => true do%>Potential Customers<%end%></li>
<!-- 	<li><%= link_to reports_test_path, "data-no-turbolink" => true do%>Test<%end%></li>
 --></ul>
