<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container container-fluid">
    <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Ivy's Dresses", {:controller => 'welcome', :action =>'index'}, :class => "navbar-brand brand"%>
    </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', :controller => 'welcome' %></li>
          <li>
            <%= link_to orders_path, "data-no-turbolink" => true do%>
              Orders&nbsp;
              <span class="badge"><%=Order.where("closed = false").count%></span>
            <% end %>
          </li>
          <li><%= link_to 'Customers', customers_path, "data-no-turbolink" => true%></li>            
          <li><%= link_to 'Appointments', appointments_path, "data-no-turbolink" => true%></li>
          <li><%= link_to 'Expenses', expenses_path, "data-no-turbolink" => true%></li>
          <li><%= link_to 'Reports', reports_index_path, "data-no-turbolink" => true%></li>
          <!-- <li class="dropdown">
          <%= link_to root_path,"data-no-turbolink" => true, :'data-toggle' => "dropdown", :class =>"" do%><span class="glyphicon glyphicon-question-sign"></span> Help<%end%>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Customer</li>
            <li><a href="#">Adding customers</a></li>
            <li><a href="#">Editing customers</a></li>
            <li><a href="#">Viewing customer details</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Appointments</li>
            <li><a href="#">Creating appointments</a></li>
            <li><a href="#">Editing appointments</a></li>
            <li><a href="#">Deleting appointments</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Orders</li>
            <li><a href="#">Creating Orders</a></li>
            <li><a href="#">Viewing Orders</a></li>
            <li><a href="#">Editing/closing orders</a></li>
            <li class="divider"></li>
            <li><a href="#">Generating Quotes</a></li>
            <li><a href="#">Generating Invoices</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Garments</li>
            <li><a href="#">Creating garments</a></li>
            <li><a href="#">Viewing garments</a></li>
            <li><a href="#">Editing garment details</a></li>
            <li><a href="#">Deleting garments</a></li>
            <li><a href="#">Costing garments</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Expenses</li>
            <li><a href="#">Adding Expenses</a></li>
            <li class="divider"></li>            
          </ul>
        </li> -->
        </ul>                     
    </div><!--/.nav-collapse -->
  </div><!-- /.container container-fluid  -->  
</nav>
