<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container container-fluid">
    <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Ivy's Dresses", {:controller => 'welcome', :action =>'index'}, :class => "navbar-brand brand"%>
    </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', :controller => 'welcome' %></li>
          <li>
            <%= link_to orders_path, "data-no-turbolink" => true do%>
              Orders&nbsp;
              <span class="badge"><%=Order.where("closed = false").count%></span>
            <% end %>
          </li>
          <li><%= link_to 'Customers', customers_path, "data-no-turbolink" => true%></li>            
          <li><%= link_to 'Appointments', appointments_path, "data-no-turbolink" => true%></li>
          <li><%= link_to 'Expenses', expenses_path, "data-no-turbolink" => true%></li>
          <li><%= link_to 'Reports', reports_index_path, "data-no-turbolink" => true%></li>
          <li><%= link_to help_index_path, "data-no-turbolink" => true, :'data-toggle' => "tooltip", :'data-placement' => "top", title: "Help" do %><span class="glyphicon glyphicon-question-sign" style ="font-size: 1.2em;"></span><%end%></li>          
        </ul>                     
    </div><!--/.nav-collapse -->
  </div><!-- /.container container-fluid  -->  
</nav>
