<!DOCTYPE html>
<html>
<head>
  <title>Is3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
</head>
<body>

<div id="wrapper">
	<div id="header">
		<%= render 'layouts/header'%>
	</div>
	<div id="content">
		<div class="container">	
		<ol class="breadcrumb">
			<%= render_breadcrumbs :tag => :li, :separator => ""%>
		</ol>		
		<%= yield %>
		</div>		
	</div>
	<div id="footer">
		<footer class="">					
			<div class="footer container">
				<p>Built by Takumi Solutions &copy 2014</p>				
			</div>				
		</footer>		
	</div>
</div>
</body>
</html>
